.code
  background-color $codeBackground
  color lighten($darkText, 10%)
  font-size 14px

.light
  background-color $lightBackground

.dark
  background-color $darkBackground

.white
  background-color $white
