.column {
  float: left
  height: 100%
  position: relative
  width: 100%

  .left {
    padding-right: 8px
  }

  .right {
    padding-left: 8px
  }
}

.row {
  display: inline-block
  height: auto
  width: 100%
  vertical-align: top
}
