#marker-details-modal {
  background: #895584
  color: #FFF
  display: none
  height: auto
  max-height: 200px
  min-height: 50px
  padding: 15px
  overflow-y: scroll
  position: fixed
  text-align: left
  width: 250px
  z-index: 100
}


