* {
  box-sizing: border-box
}

html, body {
  position: relative
  height: 100%
}

body {
  margin: 0 auto
}

#root,
#root > div,
#root > div > .page {
  height: 100%
  position: relative
}

h1, h2, h3, h4, h5 {
  margin: 0
}

h2 {
  color: $darkText
  font-size: 32px
  line-height: 32px
  padding: 0 0 15px 0
  text-transform: uppercase
}

h4 {
  font-size: 20px
  padding: 0 0 5px 0
}

h5 {
  font-size: 14px
}

p, span, a {
  font-size: 16px
  line-height: 24px
}

a {
  color: $linkText
  font-weight: 500
}

img {
  display: inline-block
  height: auto
  margin: 35px 0 0
  position: relative
  width: 100%
}

img.half {
  width: 50%
}

ul, li {
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  -webkit-margin-start: 0
  -webkit-margin-end: 0
  -webkit-padding-start: 0
}

pre {
  background-color: $codeBackground
  padding: 15px
  word-wrap: break-word
  width: 100%
}

code {
  background-color: $codeBackground
  color: lighten($darkText, 10%)
  font-size: 14px
}

p > code {
  padding: 2px 5px
}

span.link-button {
  height: 50px
  margin-left: 10px
  padding: 10px
  width: auto

  a {
    color: $lightBackground
  }
}

.link-button.dark {
  bottom: $padding
  cursor: pointer
  display: inline-block
  height: 50px
  text-align: center
  width: 200px

  a {
    color: $lightText
    display: block
    line-height: 50px
    text-decoration: underline
  }
}

.link-button.fixed {
  left: 25%
  margin: 0 auto
  position: fixed
  right: 0
}

.note {
  font-size: 14px
  font-style: italic
}

input {
  line-height: $padding

  &:focus {
    outline: none
  }
}

::-webkit-input-placeholder {
   font-size: 12px
   padding-left: 2px
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 12px
   padding-left: 2px
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 12px
   padding-left: 2px
}

:-ms-input-placeholder {
   font-size: 12px
   padding-left: 2px
}
