$padding = 35px

$darkPurple = #895584
$darkGreen = #415a41
$darkGrey = #48404A
$lightGrey = #f2eef2
$muted = #ddd0dd
$white = #fff

// Text
$lightText = $white
$linkText = $darkGreen
$darkText = $darkGrey

// Backgrounds
$codeBackground = $lightGrey
$lightBackground = $muted
$darkBackground = $darkPurple
