.jobs-container {
  display: inline-block
  padding: $padding
  width: 50%

  ul {
    font-size: 14px
    list-style-type: none

    li {
      margin-top: 5px

      &:before {
        content: '\2022'
        margin-right: 5px
      }
    }
  }

  h3 {
    display: inline-block
    color: $darkText
  }

  h5 {
    color: $darkText
  }

  .date {
    margin-top: 0

    span {
      font-size: 14px
    }
  }
}
