.github-activity-container {
  .rd3-basic-chart {
    .rd3-areachart-xaxis, .rd3-areachart-yaxis {
      font-size: 12px
      text-transform: uppercase
    }

    .rd3-areachart-area {
      fill: $darkBackground
    }
  }
}
