.github-activity-container {
  padding: $padding

  .bar {
    fill: $blended
  }

  .axis {
    font-size: 12px
    text-transform: uppercase
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: $darkGrey
    shape-rendering: crispEdges
  }

  .y.axis {
    .tick {
      &:nth-child(even) {
        display: none
      }
    }
  }
}
