.jobs {
  #job-list {
    > ul {
      list-style-type: none;
      > li {
        display: inline-table;
        margin-bottom: 25px;
        width: 50%;
        h4, .date {
          display: inline-block;
        }
        h4 {
          -webkit-margin-before: .4em;
          -webkit-margin-after: .4em;
        }
        p {
          -webkit-margin-before: .2em;
          -webkit-margin-after: .2em;
        }
        .title {
          font-style: italic;
        }
        .bullet {
          width: 80%;
          text-align: justify;
          margin-bottom: 15px;
          font-size: 14px;
        }
      }
    }
  }
}
