#jobs {
  h3 {
    display: inline-block
    color: $darkText
  }

  h5 {
    color: $darkText
  }

  .location {
    margin: 0
    padding: 0
  }

  .date {
    margin-top: 0
  }

  .location span, .date em {
    font-size: 14px
  }

  .link {
    a {
      color: $darkPurple
    }
  }
}
