nav.navigation
  background-color $muted
  bottom 130px
  left $padding
  position absolute
  right $padding
  > hr
    margin 0
    &:first-child
      margin-bottom 15px
    &:last-child
      margin-top 15px
  ul
    reset()
    list-style-type none
    text-align center
  li
    position relative
    span
      padding 0 10px
      position relative
      z-index 5
  .link
    background-color $lightBackground
    height auto
  a
    color $darkPurple
    font-size 26px
    font-weight 700
    text-decoration none
    text-transform uppercase
