.iframe-container {
  height: 100%
  margin: 0 auto
  text-align: center
  width: 100%

  iframe {
    border: 0
    height: 100%
    margin: 0 auto
    text-align: center
    width: 100%
  }

  html, body {
    width: 100%
  }
}
