.social-container
  bottom 35px
  left 0
  padding 0 $padding
  position absolute
  right 0
  text-align center

  ul
    reset()
    list-style-type none
    padding 0
    position relative

  li
    display inline-block
    height 100%
    padding 0
    position relative
    text-align center
    width 25%

    a
      display inline-block
      height 100%

    img
      height 100%
      margin 0
      width auto
