.page-resume {
  .link-button {
    background-color: $darkBackground
    bottom: $padding
    display: inline-block
    left: 0
    height: 50px
    margin: 0 auto
    position: absolute
    right: 0
    text-align: center
    width: 200px

    a {
      color: $lightText
      line-height: 50px
    }
  }
}
