@import '../../node_modules/stylus-normalize/normalize'

@import 'config/variables'
@import 'config/colors'
@import 'config/fonts'
@import 'config/global'

@import 'partials/blog/post'
@import 'partials/blog/snippet'
@import 'partials/checkin/select-location'
@import 'partials/header'
@import 'partials/github-activity'
@import 'partials/jobs/short-list'
@import 'partials/layout/error'
@import 'partials/map/marker-details-close'
@import 'partials/map/marker-details-modal'
@import 'partials/map/map-buttons'
@import 'partials/nav'
@import 'partials/projects'
@import 'partials/resume'
@import 'partials/social-icons'

@import 'pages/checkin'
@import 'pages/home'
@import 'pages/resume'

@import 'mobile/1024'
@import 'mobile/768'
@import 'mobile/360'
