@import '../../node_modules/stylus-normalize/normalize'

@import 'config/variables'
@import 'config/colors'
@import 'config/fonts'
@import 'config/global'

@import 'partials/blog/post'
@import 'partials/blog/snippet'
@import 'partials/header'
@import 'partials/github-activity'
@import 'partials/nav'
@import 'partials/jobs'
@import 'partials/projects'

@import 'pages/home'
