@media (max-width: 1065px) {
  .one-fourth {
    padding: 20px !important
  }

  .half {
    width: 100% !important
  }

  #keyboard, #lilac {
    max-height: 260px !important
  }

  #keyboard {
    padding-bottom: 60px
  }

  #keyboard img, #lilac img {
    width: 100%
  }

  #keyboard img {
    max-height: 295px
  }

  #lilac img {
    max-height: none
  }

  .tick:nth-child(even) {
    display: none
  }
}
