@media (max-width: 1275px) {
  .page-home {
    #about-me, #jobs {
      width: 60%
    }

    .image {
      width: 40%
    }
  }

  #keyboard {
    img {
      height: 100% !important
      max-height: 295px
      width: auto
    }
  }
}
