@media (max-width: 1325px) {
  .one-fourth,
  #github-activity .column,
  #blog-snippet > .column  {
    padding: 20px !important
  }

  .social-container {
    padding: 0 20px !important
  }

  .navigation,
  #github-activity .column,
  #blog-snippet > .column {
    left: 20px !important
    right: 20px !important
  }

  .page-home {
    #about-me, #jobs {
      padding: 20px
    }

    .image {
      max-height: 295px
    }
  }
}
