@media (max-width: 1400px) {
  .one-fourth {
    padding: 30px !important
  }

  .page-home {
    #about-me, #jobs {
      padding: 30px
    }
  }

  #github-activity .column,
  #blog-snippet > .column {
    padding: 30px
  }

  #blog-snippet {
    margin-bottom: -6px
  }
}
