@media (max-width: 415px) {
  $padding = 15px

  .one-fourth-col {
    height: 75px
    padding: $padding
  }

  .three-fourth-col {
    margin: 75px 0 0

    .container {
      clear: both !important
      display: block !important
      float: none !important
      padding: $padding
      width: 100% !important
    }

    .wrap {
      height: auto
      padding: 0

      > div {
        padding: $padding
      }
    }

    .image-container {
      height: 250px !important
      padding: 0 !important

      > div {
        background-size: cover !important
      }
    }

    .markdown-container, .job-container {
      margin-top: 15px
      padding: 0
    }

    .blogs-container {
      padding: 0
    }
  }

  h2 {
    padding: 0
  }

  .social-container {
    line-height: initial
    margin: 0
    padding: 25px 10px
  }
}
