@media (max-width: 768px) {
  .col {
    display: block
    float: none
    width: 100%
  }

  .one-fourth-col {
    height: 150px
    position: fixed
    top: 0
    z-index: 1
  }

  .three-fourth-col {
    margin: 150px 0 0
  }

  header {
    display: inline-block
    height: 100%
    width: auto

    a {
      display: inline-block
      height: 100%
      width: auto
    }

    img {
      height: 100%
      width: auto
    }
  }

  .social-container {
    bottom: initial
    height: 100%
    left: initial
    line-height: 70px
    margin: -1px 0 0 0
    padding: 55px
    top: 0

    ul {
      height: 100%
      margin: 0
    }

    li img {
      height: 100%
      margin: 0
      width: auto
    }
  }

  .photos {
    a {
      width: 100%
    }
  }

  .link-button.fixed {
    left: 0
  }
}
