@media (max-width: 768px) {
  .one-fourth, .three-fourth {
    width: 100% !important
  }

  .left, .right {
    margin: 0 !important
  }

  .one-fourth {
    height: 140px

    header {
      display: inline-block
      height: 100%
      position: relative

      a {
        display: inline-block
        height: 100%
        position: relative
      }

      img {
        height: 100%
        position: relative
        width: auto
      }
    }
  }

  .social-container {
    display: inline-block
    float: right
    height: 100%
    margin: 0
    position: relative

    ul {
      height: 100%
      margin: 0
      width: 120px
    }

    li {
      height: 45px
      margin: 0 0 10px 10px
    }
  }
}
