#error
  display block
  float none
  left 50%
  height: auto
  margin 0 auto
  position absolute
  top 50%
  transform translate(-50%, -50%)

.error.large
  font-size 320px
  height 320px
  line-height 320px
  vertical-align middle
  width 100%

.error.small
  font-size 94px
  line-height 94px
  text-transform uppercase

.error.large,
.error.small
  reset()
  margin 0 auto
  text-align center
