.blog-snippet-container {
  background-color: $darkBackground
  color: $lightText
  padding: $padding

  h2 {
    color: $lightText
  }

  .markdown-container {
    max-height: 300px
    overflow: hidden
    position: relative
    width: 100%

    .content {
      max-height: 200px
      overflow: hidden
    }
  }
}
