.blog-snippet-container {
  background-color: $darkBackground
  color: $lightText
  padding: $padding

  h2 {
    color: $lightText
  }

  .link-button-container {
    margin-top: $padding
    text-align: right
  }
}
